<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8"/>
        <meta name = "Author" content = "J S Karthik"/>
        <meta name = "Description" content = "Admin Dashbaord Page"/>
        <title>
            Dashboard
        </title>
        <link rel = "stylesheet" href = "/static/bootstrap/css/bootstrap.min.css"/>
        <link rel = "stylesheet" href = "/static/css/style.css"/>
    </head>
    <body>
        <h1>
            Admin Dashboard
        </h1>
        <div>
            <a href = "/admin/dashboard">
                Parking Lots
            </a>
            <a href = "/admin/dashboard/users">
                Users
            </a>
            <a href = "/admin/dashboard/history">
                Reservation History
            </a>
            <a href = "/signIn">
                Logout
            </a>
        </div>
        <div>
            <h2>
                Parking Lots
            </h2>
        </div>
        <div>
            <form method = "POST" action = "/admin/dashboard">
                <button type = "submit" name = "action" value = "create">
                    Add A Parking Lot
                </button>
            </form>
            <form method = "POST" action = "/admin/dashboard/searchResults">
                <input type = "hidden" name = "type" value = "ParkingLot"/>
                <input type = "text" name = "searchValue"/>
                <button type = "submit" name = "action" value = "search">
                    Search
                </button>
            </form>
        </div>
        <div>
            {% for parkingLot in parkingLots %}
                <div>
                    <form method = "POST" action = "/admin/dashboard">
                        {{ parkingLot.noOfParkingSpots }} 
                        {{ parkingLot.pricePerHr }}
                        <input type = "hidden" name = "parkingLotId" value = "{{ parkingLot.id }}"/>
                        <button type = "submit" name = "action" value = "edit">
                            Edit 
                        </button>
                        <button type = "submit" name = "action" value = "delete">
                            Delete 
                        </button>
                        <button type = "submit" name = "action" value = "details">
                            Details
                        </button>
                        <button type = "submit" name = "action" value = "add1">
                            Add One Parking Spot
                        </button>
                        <button type = "submit" name = "action" value = "delete1">
                            Delete One Parking Spot
                        </button>
                    </form>
                </div>
            {% endfor %}
        </div>
    </body>
</html>