<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8"/>
        <meta name = "Author" content = "J S Karthik"/>
        <meta name = "Description" content = "Display All Users Page"/>
        <title>
            Users
        </title>
        <link rel = "stylesheet" href = "/static/bootstrap/css/bootstrap.min.css"/>
        <link rel = "stylesheet" href = "/static/css/style.css"/>
    </head>
    <body>
        <h1>
            Users
        </h1>
        <div>
            <a href = "/admin/dashboard">
                Parking Lots
            </a>
            <a href = "/admin/dashboard/users">
                Users
            </a>
            <a href = "/admin/dashboard/history">
                Reservation History
            </a>
            <a href = "/signIn">
                Logout
            </a>
        </div>
        <div>
            {% for user in users %}
                <div>
                    <span>
                        {{ user.firstName }}
                    </span>
                    <span>
                        {{ user.lastName }}
                    </span>
                    <span>
                        {{ user.age }}
                    </span>
                    <span>
                        {{ user.email }}
                    </span>
                </div>
            {% endfor %}
        </div>
        <div>
            <form method = "POST" action = "/admin/dashboard/searchResults">
                <input type = "hidden" name = "type" value = "User"/>
                <input type = "text" name = "searchValue"/>
                <button type = "submit" name = "action" value = "search">
                    Search
                </button>
            </form>
        </div>
    </body>
</html>