<!DOCTYPE html>
<html class = "h-100" data-bs-theme = "dark">
    <head>
        <meta charset = "UTF-8"/>
        <meta name = "Author" content = "J S Karthik"/>
        <meta name = "Description" content = "Admin Dashbaord Page"/>
        <title>
            {{ action | title }}
        </title>
        <link rel = "icon" href = "\static\images\car-front-fill.svg"/>
        <link rel = "stylesheet" href = "/static/bootstrap/css/bootstrap.min.css"/>
        <link rel = "stylesheet" href = "/static/css/style.css"/>
    </head>
    <body class = "h-100">
        <div class = "container-fluid bg-body-tertiary min-vh-100">
            <div class = "container-fluid d-flex justify-content-center bg-body">
                <div class = "container-fluid mt-2 rounded-4 container-fluid d-flex align-items-center justify-content-center overflow-auto position-fixed" style = "height: 70px; width: 98%; background-color: rgba(33, 37, 41, 0.9); z-index: 1000; box-shadow: 0 0 10px rgb(24, 26, 29); backdrop-filter: blur(3px);">
                    <a href = "/" class = "text-decoration-none text-reset me-2">
                        <h3>
                            ParkEase
                            <img src = "/static\images\car-front-fill.svg" alt = "Logo" style = "width: 40px;"/>
                        </h3>
                    </a>
                    <ul class = "nav nav-tabs">
                        <li class = "nav-item">
                            <a class = "nav-link active" href = "/admin/dashboard">
                                Parking Lots
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link", href = "/admin/dashboard/users">
                                Users
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link", href = "/admin/dashboard/history">
                                History
                            </a>
                        </li class = "nav-item">
                            <a class = "nav-link" href = "/signIn">
                                Logout
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link" href = "/">
                                Website
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class = "rounded-3 container-fluid bg-body p-2 overflow-auto" style = "height: 80%; width: 100%; margin-top: 90px; box-shadow: 0 0 10px rgb(24, 26, 29);">
                <div class = "container-fluid d-flex justify-content-center align-items-center gap-2" style = "height: 60px;">
                    <h3>
                        Parking Lot Details
                    </h3>
                </div>
                <div class = "container-fluid d-flex justify-content-center align-items-center" style = "width: 90%; height: 100%;">
                    <form method = "POST" action = "/admin/dashboard/action" style = "width: 1000%; height: 100%;">
                        <div class = "row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-3 row-cols-xxl-3 px-5">
                            <div class = "col">
                                <label>
                                    Landmark
                                </label>
                                <input type = "text" name = "la" value = "{{ pl.landmark }}" class = "form-control" style = "width: 100%" {% if action == "details" %} readonly {% endif %}/>
                            </div>
                            <div class = "col"> 
                                <label>
                                    No. Of Parking Spots
                                </label>
                                <input type = "text" name = "nps" value = "{{ pl.noOfParkingSpots }}" class = "form-control" style = "width: 100%" {% if action == "details" %} readonly {% endif %}/>
                            </div>
                            <div class = "col">
                                <label>
                                    Price Per Hour
                                </label>
                                <input type = "text" name = "pph" value = "{{ pl.pricePerHr }}" class = "form-control" style = "width: 100%" {% if action == "details" %} readonly {% endif %}/>
                            </div>
                        </div>
                        </br>   
                        <h5 class = "px-5">
                            Address
                        </h5>
                        <div class = "row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 px-5">
                            <div class = "col">
                                <label>
                                    Street Name
                                </label>
                                <input type = "text" name = "n" value = "{{ pl.address.streetName }}" class = "form-control" style = "width: 100%" {% if action == "details" %} readonly {% endif %}/>
                            </div>
                            <div class = "col">
                                <label>
                                    Locality
                                </label>
                                <input type = "text" name = "l" value = "{{ pl.address.locality }}" class = "form-control" style = "width: 100%" {% if action == "details" %} readonly {% endif %}/>
                            </div>
                        </div>
                        <div class = "row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-4 px-5">
                            <div class = "col">
                                <label>
                                    Sub-Locality
                                </label>
                                <input type = "text" name = "sl" value = "{{ pl.address.subLocality }}" class = "form-control" style = "width: 100%" {% if action == "details" %} readonly {% endif %}/>
                            </div>
                            <div class = "col">
                                <label>
                                    City
                                </label>
                                <input type = "text" name = "c" value = "{{ pl.address.city }}" class = "form-control" style = "width: 100%" {% if action == "details" %} readonly {% endif %}/>
                            </div>
                            <div class = "col">
                                <label>
                                    State
                                </label>
                                <input type = "text" name = "s" value = "{{ pl.address.state }}" class = "form-control" style = "width: 100%" {% if action == "details" %} readonly {% endif %}/>
                            </div>
                            <div class = "col">
                                <label>
                                    Pin Code
                                </label>
                                <input type = "text" name = "p" value = "{{ pl.address.pinCode }}" class = "form-control" style = "width: 100%" {% if action == "details" %} readonly {% endif %}/>
                            </div>
                        </div>
                        </br>
                        <div class = "row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-2 row-cols-xxl-2 px-5">
                            <div class = "col">
                                <label>
                                    No Of Occupied Parking Spots {{ noops }}
                                </label>
                            </div>
                            <div class = "col">
                                <label>
                                    No Of Vacant Parking Spots {{ novps }}
                                </label>
                            </div>
                        </div>
                        </br>
                        <div class = "px-5">
                            <button type = "submit" class = "btn btn-success" style = "width: 100%;">
                                {% if action == 'details' %} Back {% else %} Submit {% endif %}
                            </button>
                        </div>
                        </br>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>