<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8"/>
        <meta name = "Author" content = "J S Karthik"/>
        <meta name = "Description" content = "Sign Up Page"/>
        <title>
            Sign Up
        </title>
        <link rel = "stylesheet" href = "/static/bootstrap/css/bootstrap.min.css"/>
        <link rel = "stylesheet" href = "/static/css/style.css"/>
    </head>
    <body>
        <h1>
            Sign Up
        </h1>
        <form method = "POST" action = "/signUp">
            <div>
                <label>
                    Email Id
                </label>
                <input type = "email" name = "email"/>
            </div>
            <div>
                <label>
                    Password
                </label>
                <input type = "password" name = "password"/>
            </div>
            <div>
                <input type = "submit" name = "submit" value = "Next"/>
            </div>
        </form>
    </body>
</html>