<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8"/>
        <meta name = "Author" content = "J S Karthik"/>
        <meta name = "Description" content = "Additional Details Sign Up Page"/>
        <title>
            Details
        </title>
        <link rel = "stylesheet" href = "../static/bootstrap/css/bootstrap.min.css"/>
        <link rel = "stylesheet" href = "../static/css/style.css"/>
    </head>
    <body>
        <h1>
            Additional Details
        </h1>
        <form method = "POST" action = "/signUp/additionalDetails">
            <div>
                <label>
                    First Name
                </label>
                <input type = "text" name = "firstName"/>
            </div>
            <div>
                <label>
                    Last Name
                </label>
                <input type = "text" name = "lastName"/>
            </div>
            <div>
                <label>
                    Age
                </label>
                <input type = "text" name = "age"/>
            </div>
            <div>
                <label>
                    Street Name
                </label>
                <input type = "text" name = "streetName"/>
            </div>
            <div>
                <label>
                    Locality
                </label>
                <input type = "text" name = "locality"/>
            </div>
            <div>
                <label>
                    Sub-Locality
                </label>
                <input type = "text" name = "subLocality"/>
            </div>
            <div>
                <label>
                    City
                </label>
                <input type = "text" name = "city"/>
            </div>
            <div>
                <label>
                    State
                </label>
                <input type = "text" name = "state"/>
            </div>
            <div>
                <label>
                    Pin Code
                </label>
                <input type = "text" name = "pinCode"/>
            </div>
            <div>
                <input type = "submit" name = "submit" value = "Sign Up"/>
            </div>
        </form>
    </body>
</html>