<!DOCTYPE html>
<html class = "h-100" data-bs-theme = "dark">
    <head>
        <meta charset = "UTF-8"/>
        <meta name = "Author" content = "J S Karthik"/>
        <meta name = "Description" content = "User Dashboard Page"/>
        <title>
            Dashboard
        </title>
        <link rel = "stylesheet" href = "/static/bootstrap/css/bootstrap.min.css"/>
        <link rel = "stylesheet" href = "/static/css/style.css"/>
    </head>
    <body class = "h-100">
        <div class = "container-fluid bg-body-tertiary min-vh-100">
            <div class = "container-fluid d-flex justify-content-center bg-body">
                <div class = "container-fluid mt-2 rounded-4 container-fluid border d-flex align-items-center justify-content-center overflow-auto position-fixed" style = "height: 100px; width: 98%; background-color: rgba(33, 37, 41, 0.9); z-index: 1000;">
                    <a href = "/" class = "text-decoration-none text-reset me-2">
                        <h3>
                            ParkEase
                        </h3>
                    </a>
                    <ul class = "nav nav-tabs">
                        <li class = "nav-item">
                            <a class = "nav-link" href = "/user/dashboard">
                                Parking Lots
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link active", href = "/user/dashboard/reserved">
                                Reserved
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link", href = "/user/dashboard/history">
                                History
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link" href = "/user/dashboard/summary">
                                Summary
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link" href = "/signIn">
                                Logout
                            </a>
                        </li>
                        <li class = "nav-item">
                            <a class = "nav-link" href = "/">
                                Website
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class = "rounded-3 container-fluid bg-body p-2 overflow-auto text-center" style = "height: 80%; width: 100%; margin-top: 120px;">
                <div class = "d-flex justify-content-center align-items-center gap-2" style = "height: 60px;">
                    <h3>
                        Reserved Parking Spot
                    </h3>
                </div>
                <div>
                    {% if reservedParkingSpot is not none %}
                        <form method = "POST" action = "/user/dashboard/reserved" style = "height: 100%; width: 100%;">
                            <input type = "hidden" name = "reservedParkingSpotId" value = "{{ reservedParkingSpot.id }}"/>
                            {% if reservedParkingSpot.parkingSpot.status %}
                                <p>
                                    Parking Timestamp: {{ reservedParkingSpot.parkingTimestamp }}
                                </p>
                                <h5>
                                    Occupied
                                    <button type = "submit" name = "action" value = "vaccate" class = "btn btn-primary btn-sm">
                                        Vaccate
                                    </button>
                                </h5>
                            {% else %}
                                <h5>
                                    Vaccant
                                    <button type = "submit"name = "action" value = "occupy" class = "btn btn-primary btn-sm">
                                        Occupy
                                    </button>
                                    <button type = "submit"name = "action" value = "release" class = "btn btn-primary btn-sm">
                                        Release
                                    </button>
                                </h5>
                            {% endif %}
                            <p>
                                Total Spots: {{ reservedParkingSpot.parkingSpot.parkingLot.noOfParkingSpots }} 
                                </br>
                                Available Spots: {{ reservedParkingSpot.parkingSpot.parkingLot.parkingSpots | selectattr("status", "equalto", 0) | list | count }}
                                </br>
                                Price Per Hr: {{ reservedParkingSpot.parkingSpot.parkingLot.pricePerHr }}
                                </br>
                                Landmark: {{ reservedParkingSpot.parkingSpot.parkingLot.landmark }}
                                </br>
                                Address: {{ reservedParkingSpot.parkingSpot.parkingLot.address | title }}
                                </br>
                                Vehicle No: {{ reservedParkingSpot.vehicleNumber }}
                            </p>
                        </form>
                    {% else %}
                        <div>
                            No Reserved Parking Spot Right Now
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </body>
</html>