<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8"/>
        <meta name = "Author" content = "J S Karthik"/>
        <meta name = "Description" content = "User Dashboard Page"/>
        <title>
            Dashboard
        </title>
        <link rel = "stylesheet" href = "/static/bootstrap/css/bootstrap.min.css"/>
        <link rel = "stylesheet" href = "/static/css/style.css"/>
    </head>
    <body>
        <h1>
            Summary
        </h1>
        <div>
            <a href = "/user/dashboard">
                Parking Lots
            </a>
            <a href = "/user/dashboard/reserved">
                Reserved
            </a>
            <a href = "/user/dashboard/history">
                History
            </a>
            <a href = "/user/dashboard/summary">
                Summary
            </a>
            <a href = "/signIn">
                Logout
            </a>
        </div>
        <div>
            {% for reservedParkingSpot in reservedParkingSpots %}
                <div>
                    {{ reservedParkingSpot.totalCost }}
                </div>
            {% endfor %}
        </div>
    </body>
</html>